* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

html,
body {
    width: 100%;
    height: 100%;
}

.wrapper {
    height: 100%;
    width: 100%;
    background-color: #000000;
}

.nav-bar {
    width: 100%;
    height: 10%;
    padding: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.company-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    gap: 5px;
    color: #fff;
    cursor: default;
}

.nav-menu {
    display: flex;
    gap: 55px;
    font-size: 17px;
    font-weight: 500;
    color: #fff;
}

.nav-menu nav {
    cursor: pointer;
}

.action-button button {
    padding: 15px 25px;
    background-color: #131313;
    color: #fff;
    border: none;
    border-radius: 10px;
    font-size: 16px;
    cursor: pointer;
}

.page-title {
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: #fff;
}

.filters-wrapper {
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.filter-1,
.filter-2,
.filter-3,
.filter-4 {
    width: 100px;
    height: 50px;
    border-radius: 30px;
    color: #fff;
    background-color: #161616;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.filter-1 {
    background-color: #FE4909;
}

.cards-wrapper {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}

.card-1,
.card-2,
.card-3 {
    height: 500px;
    width: 400px;
    border-radius: 40px;
    background-color: #0E0E0E;
}

.featured_image {
    width: 100%;
    height: 300px;
}

.featured_image img {
    width: 100%;
    height: 100%;
    border-radius: 50px;
}

.tag {
    width: 80px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 15px 20px;
    border-radius: 30px;
    background-color: #571D0A;
    color: #EA8E5F;
    font-size: 15px;
}

.title {
    margin: 35px 25px;
    color: #fff;
    font-size: 25px;
}

.date {
    margin: 30px 25px;
    color: #656565;
    font-size: 15px;
}